<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Change Email</title>
<style>
    body {
        font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica', 'Arial', 'sans-serif', 'apple color emoji';
        margin: 0;
        padding: 0;
        background-color: #252529;
        color: #e3e3e3;
        text-align: center;
    }
    .header {
        background-color: #1d1e25;
        padding: 20px;
    }
    .header h1 {
        margin: 0;
        font-size: 30px;
    }
    .activation {
      padding: 10px 100px;
    }
    .activation p {
      margin: 0;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .help {
      padding: 10px 200px;
    }
    .help p {
      margin: 0;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    a {
      color: #ffff92;
    }
    a.button {
      padding: 10px 24px;
      border: 1px;
      font-size: 20px;
      border-radius: 3px;
      color: #e3e3e3;
      font-weight: 500;
      background-color: #715bf6;
      text-decoration: none;
    }
    .minerva-img {
        max-width: 200px;
        margin-top: 20px;
    }
</style>
</head>
<body>
    <div class="header">
        <img src="https://athenna.io/img/logos/minerva.png" alt="Minerva Logo" class="minerva-img">
        <h1>Hey there {{ user.name }}!</h1>
    </div>
    <div class="activation">
        <p>
          We are sending you this email because you have requested to
          change your account email to <b>{{ email }}</b>. To confirm the update,
          click the link bellow:
        </p>
        <a class="button" href="{{ `${Config.get('http.url')}/api/v1/confirm/email?token=${token}&email=${email}` }}">CONFIRM EMAIL CHANGE</a>
    </div>
    <div class="help">
      <p>
        If this was not you or if you have any questions, please email us
        at <a href="mailto:support@athenna.io">support@athenna.io</a> or
        visit our FAQS, you can also chat with a real human during our
        operating hours. They can answer questions about your account.
      </p>
    </div>
</body>
</html>

